
@media only screen and (min-width: $mobileWidth) {
	.logo {
		width: 20%;
		display: inline-block;
	}

	.navigation{
		width: 100%;
		display: inline-block;
	}
}

@media only screen and (min-width: $tabletWidth) {
	.logo {
		width: 80%;
		display: inline-block;
	}

	.navigation{
		width: 100%;
		display: inline-block;
	}
}
