@font-face {
  font-family: 'NeuzeitBook';
  src: url("/theme/type/NeuzeitBook.otf");
  font-weight: normal;
  font-style: normal; 
  }

@font-face {
  font-family: 'NeuzeitBold';
  src: url("/theme/type/NeuzeitHeavy.otf");
  font-weight: normal;
  font-style: normal; 
}

/*
//	src:url('fonts/font-name.eot');
//	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
//		url('fonts/font-name.woff') format('woff'),
//		url('fonts/font-name.ttf') format('truetype'),
//		url('fonts/font-name.svg#font-name') format('svg');
*/