/* ************************************************ 
		COLOR
************************************************ */

$backgroundColor: #000;

/* Pallate */
$color1: #fff;
$color2: #f00;
$color3: #0f0;
$color4: #0f0;

/* ************************************************ 
		TYPE
************************************************ */

$sansAddon: Helvetica, Helvetica Neue, Arial;

$font1: 'x', $sansAddon;
$font1Light: 'x';
$font1Bold: 'x';
$font1Ital: 'x';

$fontSecondary: 'x';
$fontSecondaryLight: 'x';
$fontSecondaryBold: 'x';
$fontSecondaryItal: 'x';


