/*                                                 SUP? 
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Client: 	Default
Project: 	Default Template
--------------------------------------------------------
About:
			This is my default template.
--------------------------------------------------------

By: 		Michael Appuhn
--------------------------------------------------------
Website: 	http://www.michaelappuhn.com
Twitter: 	https://www.twitter.com/michaelappuhn
Insta: 		@michaelappuhn
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
                                                      <3
*/
/* <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
		SETTINGS
========================================================================== */
/* -----------------------------------------------------------------------
		RESET
-------------------------------------------------------------------------- */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../../../sass/settings/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../../../sass/settings/_reset.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../../../sass/settings/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../../../sass/settings/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../../../sass/settings/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, ../../../sass/settings/_reset.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../../../sass/settings/_reset.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, ../../../sass/settings/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../../../sass/settings/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, ../../../sass/settings/_reset.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../../../sass/settings/_reset.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../../../sass/settings/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../../../sass/settings/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../../../sass/settings/_reset.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, ../../../sass/settings/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../../../sass/settings/_reset.scss */
sup {
  top: -0.5em;
}

/* line 173, ../../../sass/settings/_reset.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../../../sass/settings/_reset.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../../../sass/settings/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../../../sass/settings/_reset.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../../../sass/settings/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../../../sass/settings/_reset.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../../../sass/settings/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../../../sass/settings/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../../../sass/settings/_reset.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../../../sass/settings/_reset.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../../../sass/settings/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../../../sass/settings/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../../../sass/settings/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../../../sass/settings/_reset.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../../../sass/settings/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../../../sass/settings/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../../../sass/settings/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, ../../../sass/settings/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../../../sass/settings/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../../../sass/settings/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../../../sass/settings/_reset.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../../../sass/settings/_reset.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../../../sass/settings/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, ../../../sass/settings/_reset.scss */
td,
th {
  padding: 0;
}

/* -----------------------------------------------------------------------
		TYPOGRAPHY
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
		VARIABLES 
-------------------------------------------------------------------------- */
/* ************************************************ 
		COLOR
************************************************ */
/* Pallate */
/* ************************************************ 
		TYPE
************************************************ */
/* -----------------------------------------------------------------------
		MIXINS 
-------------------------------------------------------------------------- */
/*
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
*/
/* -----------------------------------------------------------------------
		GLOBAL 
-------------------------------------------------------------------------- */
/*! Pulled from HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 3, ../../../sass/settings/_global.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* line 9, ../../../sass/settings/_global.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 14, ../../../sass/settings/_global.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 19, ../../../sass/settings/_global.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../../../sass/settings/_global.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 37, ../../../sass/settings/_global.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 43, ../../../sass/settings/_global.scss */
textarea {
  resize: vertical;
}

/* line 47, ../../../sass/settings/_global.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/* line 60, ../../../sass/settings/_global.scss */
body {
  font: 16px/26px "x", Helvetica, Helvetica Neue, Arial;
}

/* line 64, ../../../sass/settings/_global.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */
/* line 73, ../../../sass/settings/_global.scss */
.header-container {
  border-bottom: 20px solid #e44d26;
}

/* line 77, ../../../sass/settings/_global.scss */
.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

/* line 82, ../../../sass/settings/_global.scss */
.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

/* line 88, ../../../sass/settings/_global.scss */
.title {
  color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
/* line 96, ../../../sass/settings/_global.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 102, ../../../sass/settings/_global.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e44d26;
}

/* line 115, ../../../sass/settings/_global.scss */
nav a:hover,
nav a:visited {
  color: white;
}

/* line 120, ../../../sass/settings/_global.scss */
nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 128, ../../../sass/settings/_global.scss */
.main {
  padding: 30px 0;
}

/* line 132, ../../../sass/settings/_global.scss */
.main article h1 {
  font-size: 2em;
}

/* line 136, ../../../sass/settings/_global.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* line 141, ../../../sass/settings/_global.scss */
.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
/* line 150, ../../../sass/settings/_global.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 182, ../../../sass/settings/_global.scss */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  /* line 190, ../../../sass/settings/_global.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 194, ../../../sass/settings/_global.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 202, ../../../sass/settings/_global.scss */
  nav ul li {
    display: inline;
  }

  /* line 206, ../../../sass/settings/_global.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* ============
      WIDE: Menu
     ============ */
  /* line 226, ../../../sass/settings/_global.scss */
  .title {
    float: left;
  }

  /* line 230, ../../../sass/settings/_global.scss */
  nav {
    float: right;
    width: 38%;
  }

  /* ============
      WIDE: Main
     ============ */
  /* line 239, ../../../sass/settings/_global.scss */
  .main article {
    float: left;
    width: 57%;
  }

  /* line 244, ../../../sass/settings/_global.scss */
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 256, ../../../sass/settings/_global.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 266, ../../../sass/settings/_global.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 271, ../../../sass/settings/_global.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 282, ../../../sass/settings/_global.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 292, ../../../sass/settings/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 296, ../../../sass/settings/_global.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 302, ../../../sass/settings/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 306, ../../../sass/settings/_global.scss */
.clearfix {
  *zoom: 1;
}

/* -----------------------------------------------------------------------
		GRID 
-------------------------------------------------------------------------- */
/* =======================================================================
		OBJECTS
========================================================================== */
/* -----------------------------------------------------------------------
		
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/*====================================================================
		PARAGRAPH STYLES
====================================================================== */
/*======================================================================
		CHARACTER STYLES
======================================================================== */
