<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% include 'head/_head.html' %}

</head>

<body id="index" class="home">

    <!-- Logo -->
    <header id="banner" class="body">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
    </header><!-- /#banner -->
    <!-- End Logo -->

    {% include '_nav.html' %}


    {# {% include '_test.html' %} #}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer id="contentinfo" class="body">
            
            <address id="about" class="vcard body"></address><!-- /#about -->
    </footer><!-- /#contentinfo -->
    <!-- End Footer -->

</body>
</html>
