<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% include 'head/_head.html' %}

</head>

<body id="index" class="home">


    {% include 'nav_area/_logo.html' %}
    
    {% include 'nav_area/_nav.html' %}


    {# {% include '_test.html' %} #}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer id="contentinfo" class="body">
            
            <address id="about" class="vcard body"></address><!-- /#about -->
    </footer><!-- /#contentinfo -->
    <!-- End Footer -->

</body>
</html>
