<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% include 'head/_head.html' %}

</head>

<body id="index" class="home"> 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CXSL8R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> 
<script src="theme/js/three.min.js"></script>
<script src="theme/js/cube.js"></script>

    {% include 'nav_area/_logo.html' %}
    
    {#  COMMENTING OUT FOR NOW
        {% include 'nav_area/_nav.html' %}
    #}


    {# {% include '_test.html' %} #}

    <section class="content">
        {% block content %}
        {% endblock %}
    </section><!-- /#content -->

    <!-- Footer -->
    <footer id="contentinfo" class="body">
            
            <address id="about" class="vcard body"></address><!-- /#about -->
    </footer><!-- /#contentinfo -->
    <!-- End Footer -->

</body>
</html>
