{% extends "base.html" %}

{% block content %}

	<h2 class="short-description">Product&nbsp;manager and UX&nbsp;strategist in New&nbsp;York&nbsp;City.</h2> 

	<p>Funnel optimization for fashion ecommerce.</p>


	<p>
	
		Visual dad jokes on <a target="_blank" data-outbound-social="instagram" href="https://instagram.com/michaelappuhn">Instagram</a>.
		<br/>

		Weirdo side projects on <a target="_blank" data-outbound-social="tumblr" href="https://michaelappuhn.tumblr.com">Tumblr</a>.
		<br/>

		Nothing useful to contribute to <a target="_blank" data-outbound-social="twitter" href="https://twitter.com/michaelappuhn">Twitter</a>. 
	</p>

	<p>Reach via email at <a data-outbound-social="email" target="_blank" href="mailto:mike.appuhn@gmail.com">mike.appuhn@gmail.com</a>.</p> 
{% endblock content %}
