{% extends "base.html" %}

{% block content %}
	<h2 class="homepage-hi">&lsquo;ey</h2>

	<p>Hi there! I'm a digital designer, currently focusing on UX for ecommerce brands. I'm a member of the <a href="http://othercreative.co">Other Creative</a> partnership. </p>

	<p>Reach me via email at <a data-outbound-social="email" href="mailto:mike.appuhn@gmail.com">mike.appuhn@gmail.com</a>. Follow me on <a data-outbound-social="twitter" href="https://twitter.com/michaelappuhn">Twitter</a>, <a data-outbound-social="instagram" href="https://instagram.com/michaelappuhn">Instagram</a>, <a data-outbound-social="tumblr" href="https://michaelappuhn.tumblr.com">Tumblr</a>.</p>
	
{% endblock content %}
