{% extends "base.html" %}

{% block page_class_name %} home {% endblock page_class_name %}

{% block content %}

	<h1 class="short-description">Product&nbsp;manager and UX&nbsp;strategist in Los&nbsp;Angeles (formerly&nbsp;NYC).</h1> 

	<p>
	Product pipelines for cross-functional teams. <br />
	Customer-focused strategy with a UX perspective. <br />
	Research, analysis, design, and code.<br />
	</p>

	<p>Want to get in touch? <a href="contact">Contact Me</a>.</p> 

	<p>
	
		Connect on <a target="_blank" data-outbound-social="linkedin" href="https://www.linkedin.com/in/michaelappuhn/">LinkedIn</a>.
		<br/>
		Follow me on <a target="_blank" data-outbound-social="github " href="https://github.com/michaelappuhn">GitHub</a>.
		<br/> 
		Weirdo side projects on <a target="_blank" data-outbound-social="tumblr" href="https://michaelappuhn.tumblr.com">Tumblr</a>.
		<br/>

	</p>

{% endblock content %}
