/* homepage/_mobile.scss */
canvas {
	position: fixed;
	z-index: -2000;
}

.short-description{
	font-size: 2em;
	font-weight: normal	;
	font-family: NeuzeitBold;
	line-height: 1.2em;
	margin: 7vh auto 3vh;
	text-align: left;
	color: $color1;
	/*
	text-transform: uppercase;
	letter-spacing: .08em;
	*/

}

.home p {
	font-size: 1.3em;
	line-height: 1.6em;
	margin: 1.8em 0 0;
    max-width: 600px;
    text-align: left;
}
