/* homepage/_mobile.scss */

.homepage-hi{
	font-size: 50vw;
	line-height: 1em;
	margin: 20vh auto 10vh;
	text-align: center;
	color: $color1;
}

canvas {
	position: fixed;
	z-index: -2000;
}

.home p {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-top: .8em;
}