/*                                                 SUP? 
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Client: 	Default
Project: 	Default Template
--------------------------------------------------------
About:
			This is my default template.
--------------------------------------------------------

By: 		Michael Appuhn
--------------------------------------------------------
Website: 	http://www.michaelappuhn.com
Twitter: 	https://www.twitter.com/michaelappuhn
Insta: 		@michaelappuhn
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
                                                      <3
*/


/* <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* ==========================================================================
		SETTINGS
========================================================================== */

/* -----------------------------------------------------------------------
		RESET
-------------------------------------------------------------------------- */

@import 'settings/reset';

/* -----------------------------------------------------------------------
		TYPOGRAPHY
-------------------------------------------------------------------------- */
@import 'settings/typography';

/* -----------------------------------------------------------------------
		VARIABLES 
-------------------------------------------------------------------------- */

@import 'settings/variables';


/* -----------------------------------------------------------------------
		MIXINS 
-------------------------------------------------------------------------- */

@import 'settings/mixins';


/* -----------------------------------------------------------------------
		GLOBAL 
-------------------------------------------------------------------------- */

@import 'settings/global';

/* -----------------------------------------------------------------------
		GRID 
-------------------------------------------------------------------------- */
@import 'settings/grid';


/* =======================================================================
		OBJECTS
========================================================================== */

/* -----------------------------------------------------------------------
		 NAV
-------------------------------------------------------------------------- */
@import 'nav/manifest';


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */


/*====================================================================
		PARAGRAPH STYLES
====================================================================== */


/*======================================================================
		CHARACTER STYLES
======================================================================== */
