@media only screen and (min-width: $mobileWidth) {

/* -------------------- Logo -------------------- */
	.logo {
		@include mobileWidth();
		margin: 0 auto;
		padding-top: 4vh;
		/*
		position: relative;
		top: 20px;
		left: 20px;
		*/

		a{
			display: inline;
			font-size: 1.2em;
			font-family: NeuzeitBold;
			border-bottom: .3em solid $color2;
			padding-bottom: .5em;
			width: 100%;
			
			&:link, &:visited{
				color: $color2;
			}

			&:hover, &:active{
				text-decoration: none;
				color: $color1;
				border-bottom: .3em solid $color1;

			}
		}

	}

	// .logo img {}

/* -------------------- Navigation -------------------- */
	.navigation{
		display: block;
        margin: auto;
	}

	.navigation ul {
	    margin: 0;
	    padding: 0;
	    list-style-type: none;

	}

	.navigation a {
		@include cta-link();

	}


	.navigation a:hover {
	   @include cta-hover();
	}	

}
