/* nav/_tablet.scss */

@media only screen and (min-width: $tabletWidth) {


/* -------------------- Logo -------------------- */

	.logo {
        margin: 0;

        h1{
            font-size : 1.4em;
        }

	}

/* -------------------- Navigation -------------------- */

	.navigation{
		display: inline-block;
	}



    .navigation a {
        margin: 0 1.7%;
        margin-bottom: 0;
    }

    .navigation li:first-child a {
        margin-left: 0;
    }

    .navigation li:last-child a {
        margin-right: 0;
    }



}