.page__title{
	font-size: 3em;
	font-weight: normal	;
	font-family: NeuzeitBold;
	line-height: 1.2em;
	margin: 4vh auto 3vh;
	text-align: left;
	color: $color1;

}

.page p {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 1.8em auto 0;
    max-width: 420px;
    text-align: left;
}