.page__title{
	font-size: 6em;
	line-height: 1.2em;
	text-align: left;
	margin: 4vh 0 2vh ;
	//max-width: 950px;
}
.page p {
	font-size: 1.1em;
	line-height: 1.6em;
	margin: 1.8em 0 0;
    max-width: 700px;
    text-align: left;
}